.profile-container {
    display: flex; 
    justify-content: center;
    background-image: url('/bg5.jpeg'); 
    background-size: cover; 
    background-position: center; 
    /* background-repeat: repeat; */
  
  }

  .profile-card {
    margin: 50px;
    text-align: center;
    background: #ffffff;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 800px;
   
  }

  .profile-card h2{
    padding-bottom: 20px;
    color: #f5b70a;
  }
  
  .profile-photo {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    margin-bottom: 20px;
  }
  
  .user-name {
    margin: 10px 0;
    font-size: 30px;
    font-weight: bold;
  }
  
  .user-info {
    color: #666666;
    margin-bottom: 20px;
  }
  
  .user-stats {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
  }
  
  .user-stats-item {
    text-align: center;
  }
  
  .stats-number {
    display: block;
    font-size: 24px;
    font-weight: bold;
  }
  
  .stats-label {
    color: #666666;
    font-size: 16px;
  }
.editbutton {
    background: transparent;
    font-size: 16px;
    color: gray;
    border: 1px solid #f5b70a;
    padding: 10px 30px;
    border-radius: 50px;
    cursor: pointer;
    transition: 0.3s;
}

.editbutton:hover {
    background-color: #fff4f2;
}

    .editbutton .active {
        padding-bottom: 2px;
        border-bottom: 2px solid gray;
    }


/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */

}

/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 12px;
    border: 1px solid #888;
    width: 333px;
    margin-top: 52px;
    height: 247px;
    border-radius: 10px;
}
.modal-content table {
    border:0px double;
    width:100%;
}

    .modal-content label {
        font-weight:bold
    }
    /* The Close Button */
    .close {
        color: #aaaaaa;
        float: right;
        font-size: 28px;
        font-weight: bold;
    }

    .close:hover,
    .close:focus {
        color: #000;
        text-decoration: none;
        cursor: pointer;
    }

.signup-button {
    margin-top: 1em
}
.formclassflow {
    display: grid;
    grid-template-columns: 98px 50px;
    grid-gap: 10px;

}
