.form-label {

}

.fs-5 {

}

.fw-bold {
    font-weight: bold;
    padding-right: 12px;
}
.btn {
    color:yellow
}
.login-form button {
    background: transparent;
    font-size: 16px;
    color: gray;
    border: 1px solid #f5b70a;
    padding: 10px 30px;
    border-radius: 50px;
    cursor: pointer;
    transition: 0.3s;
    margin-top: 21px;
}

    .login-form button:hover {
        background-color: #fff4f2;
    }

.login-form .active {
    padding-bottom: 2px;
    border-bottom: 2px solid gray;
}