.recipe-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(240px,1fr));
    margin-top: 10px;
    gap: 40px;
    row-gap: 30px;    
}

.category-name{
    text-align: center;
    max-width: 100%;
}



  