.footer{
    margin-top: 100px;
    margin-bottom: 30px;
}

.newsletter {
  margin-top: 50px;
  margin-bottom: 50px;
}

.newsletter p{
    padding-bottom: 10px;
   
}
.newsletter form {
  display: flex;
}

.newsletter input[type="email"] {
  padding: 8px;
  margin-right: 10px;
  border: 2.5px solid #f5b70a;;
}

.newsletter button {
  padding: 8px 15px;
  background-color: #f5b70a;;
  color: #000000;
  border: 2px solid #f5b70a;;
  cursor: pointer;
  border-radius: 5px;
}

.footer-content-right p{
    padding-top: 10px;
}
