.recipe-trending {
    width: 100%;
    padding: 30px;
   
}


.trending-item-image {
    width: 100%;
    height: 220px;
}

.trending-item-title {
    display: block;
    margin-top:10px;
    font-size: 24px; 
    font-style: bold;
    color: #333;
    text-decoration: none;

}

.trending-item-title:hover {
    
    color: #333;
    text-decoration: underline;

}

.trending-item-creator {
    margin: 8px 0 0;
    font-size: 16px; 
    color: #666;
    font-style: normal;
}
