.recipe-display{
    margin-top: 30px;
}

.recipe-display h2{
    font-size: max(2vw,24px);
    font-weight: 600;
}

.recipe-display-list{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(240px,1fr));
    margin-top: 30px;
    gap: 40px;
    row-gap: 30px;
}